@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@layer base {
  :root {
    --color-secondary: 219 68 68;
    /* ... */
  }
}

/* .slick-slide {
  width: auto !important;
}
.voucher {
  display: grid !important;
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
} */
:root {
  --tw-color-secondary: #db4444;
}

.svg_container:hover .hover_svg_circle {
  fill: var(--tw-color-secondary);
}
.svg_container:hover .hover_svg_path {
  stroke: white;
}
.svg_container:hover .hover_svg {
  fill: var(--tw-color-secondary);
}

.clickedButton {
  fill: var(--tw-color-secondary);
  stroke: white;
}

.voucher_Home .slick-slider {
  grid-column: span 3;
  height: 100%;
}
.voucher_Home .slide {
  display: inline-flex !important;
  justify-content: space-between;
}

.Flash_slider .slick-arrow,
.our_product .slick-arrow {
  color: black;
  background-color: #f5f5f5;
  height: 50px;
  width: 50px;
  top: -60px;
  right: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.Flash_slider .slick-prev:before,
.Flash_slider .slick-next:before,
.our_product .slick-prev:before,
.our_product .slick-next:before {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: black;
}
.Flash_slider .slick-prev,
.our_product .slick-prev {
  left: 85%;
}
.Flash_slider .slick-next,
.our_product .slick-next {
  right: 0%;
}

@media (max-width: 767px) {
  .Flash_slider .slick-arrow {
    visibility: hidden;
  }
  .our_product .slick-arrow {
    visibility: hidden;
  }
}
.custom_shadow {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.05),
    10px 0px 10px rgba(255, 255, 255, 0.05),
    0px 10px 10px rgba(255, 255, 255, 0.05),
    -10px 0px 10px rgba(255, 255, 255, 0.05);
}
.nav_link--mobile {
  z-index: 20;
}
.nav_link--mobile ul {
}
.nav_link--mobile {
  background: rgb(121, 114, 121);
  background: radial-gradient(
    circle,
    rgba(121, 114, 121, 1) 6%,
    rgba(4, 4, 4, 0.9836309523809523) 100%
  );
  /* background: linear-gradient(to bottom, #1f1e1e, #333232);
  background-size: 100% 300px;
  background-position: 0% 100%; */
}

.nav_link--mobile {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.nav_link--mobile.show {
  opacity: 1;
  pointer-events: auto;
}

.nav_link--mobile.hide {
  opacity: 0;
  pointer-events: none;
}

@media (min-width: 767px) {
  .burger_menu {
    display: none !important;
  }
  .burger_menu {
    display: none !important;
  }
}
